.html {
    box-sizing: border-box;
    height: 100%;
    }
     , *::before, *::after {  /* Эта конструкция указывается всегда, необходима для того чтобы элементы выстраивались правильным образом и паддинги и границы не влияли на размеры элемента. https://www.youtube.com/watch?v=9prTwMLJQC8  */
    box-sizing: inherit;
    }
    h1, h2, h3, h4, h5, h6 {
        padding: 0; /** Сброс автоматических отступов заголовков чтобы в будущем не было проблем */
        margin: 0; /** Сброс автоматических отступов заголовков чтобы в будущем не было проблем */
    }

    body {
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: var(--main-bg);
        display: flex;
        min-height: 100vh;
        width: 100vh;
    }

    :root {
            --navbar-bg: #13171D;
            --navbar-bg-hover: #272c33;
            --navbar-h1: #3B82F6;
            --navbar-p: #B7C0C9;
            --main-bg: #1e1e1e;
            --welcome-author: rgb(88, 166, 255);
            --h3: rgb(183, 192, 201);
            --p: rgb(183, 192, 201);
            --star__desc: rgba(255, 168, 54, 0.9);
            --p__lowcase: rgb(122, 130, 141);
    }
    
    .header {
        position: fixed;
        z-index: 1000; /* чтобы было поверх другого */
        top: 0;
        left: 0;
        background-color: var(--navbar-bg);
        max-width: 325px;
        height: 100vh;
    }
    .header__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: sticky;

    }
    .header__title {
    margin: 15px 20px 0 20px;
    padding: 0;
    }

    .h1 {
    color: var(--navbar-h1);
    font-family: Segoe UI;
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: left;
    white-space: nowrap;
    }   

                .h1:hover{
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                background-image: linear-gradient(45deg, DeepPink, BlueViolet, Indigo, Red, DarkOrange, Yellow, Lime, MediumAquaMarine, Aqua, Blue, Olive);
                background-size: 400% 400%;
                animation: move 10s ease infinite;
                }
                @keyframes move {
                    0% {
                        background-position: 0 0;
                    }
                    25% {
                        background-position: 100% 0;
                    }
                    50% {
                        background-position: 100% 100%;
                    }
                    75% {
                        background-position: 0 100%;
                    }
                    100% {
                        background-position: 100% 0;
                    }
                }

    .navbar {
    padding: 0;
    overflow: hidden;
    }

    .navbar__item {
    padding: 5px 10px;
    margin: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease-in-out 0ms;
    transition: margin 0.3s ease-in-out;
    overflow: hidden;
    }

        .navbar__item:hover {
            background-color: var(--navbar-bg-hover);
            margin-left: +15%;
        }

        .navbar__item:hover:first-child {
            background-color: var(--navbar-bg-hover);
            margin-left: +15%;
        }

        .navbar__item:first-child {
            margin: 30px 20px 10px 20px ;
            }

    .navbar__item__link {
    text-decoration: none;
    color: var(--navbar-p);
    font-family: Segoe UI;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    white-space: nowrap;
    }

    ul {
        list-style-type:  none;
    }

        .main {
        flex-grow: 1;
        display: flex;
        padding: 40px 40px;
        width: 100vw;
        margin-left: 325px; 
        flex-direction: column;
    }

    .welcome h2 {
                color: rgb(183, 192, 201);
                font-family: Segoe UI;
                font-size: 33px;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: 0%;   /** Применять эти стили для будущих секторов сайта */
                text-align: left;
                margin-bottom: 32px;
    }
    .welcome h3 {
    color: var(--h3);
    font-family: Segoe UI;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
h3, .h3 {
    color: var(--h3);
    font-family: Segoe UI;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
#re12s {
    font-size: 24px;
    margin-bottom: 10px;
    text-decoration: underline;
}

    .welcome a {
        color: var(--welcome-author);
        font-family: Segoe UI;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: left;
        text-decoration-line: underline;
}
    .player__emoji {
    position: relative;
    width: 20px;
    height: 20px;
    top: 4px;
    margin-left: 2px;
}

.authors{
    margin: 0;
    padding: 0;
    padding-left: 40px;
}
.authors__li {
    list-style-type: disc;
    padding: 1px 0;
}
.authors__li::marker{
    color: white;
}


.h4__desc {
color: var(--h3);
font-family: Segoe UI;
font-size: 21px;
font-weight: 600;
line-height: 35px;
letter-spacing: 0%;
text-align: left;
margin-top: 40px;;
}
p {
    margin: 0;
}

.p {
    color: var(--p);
    font-family: Segoe UI;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.p__hr{
    color: var(--p);
    font-family: Segoe UI;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    border-left: 2px solid var(--navbar-p);
    padding-left: 7px;
    margin-top: 10px;
}
.p__hr2{
    color: var(--p);
    font-family: Segoe UI;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    border-left: 2px solid var(--navbar-p);
    padding-left: 7px;
    margin-top: 2px;
}

#waw2123 {
    margin-top: 20px;
}

.main__icon {
    width: 30px;
    height: 30px;
    position: relative;
    top: 7px;
    margin-right: 12px;
}

#star__name {
color: var(--star__desc);
font-family: Segoe UI;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 3px;
}

.p__lowcase {
    color: var(--p__lowcase);
    font-family: Segoe UI;
    font-size: 17.5px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}
.p__lowcase:last-child {
    margin-bottom: 0px;
}

#head__name {
    color: rgb(183, 192, 201);
    font-family: Segoe UI;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 3px;
}

#a54td {
    margin-top: 0px;
}

.h3 {
    color: var(--h3);
    font-family: Segoe UI;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.flex__cont {
    display: flex;

}
.icon {
    width: 40px;
    height: 40px;
    position: relative;
    top: 0px;
    margin-right: 12px;
}
#trt3 {
    margin-bottom: 0px;
}

#a54td {
    margin-top: 20px;;
}

.h4 {
    color: var(--h3);
    font-family: Segoe UI;
    font-size: 21px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: left;
}

.dopolnitelno {
    padding-left: 40px;
    list-style-type: disc;
    margin-top: 10px    ;
}

.dopolnitelno li::marker {
    color: white;
}

#fdf21d {
    border-radius: 50%;
}

h2, .h2 {
    color: rgb(183, 192, 201);
    font-family: Segoe UI;
    font-size: 33px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0%;   /** Применять эти стили для будущих секторов сайта */
    text-align: left;
    margin-bottom: 32px;
    border-bottom: solid 1px var(--navbar-p);
    padding-bottom: 3px;
    margin-top: 30px;
}
.h3 {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
ul {
    margin: 0;
}

.list {
    list-style-type: disc;
    padding-left: 25px;
}
.list__item::marker{
    color: white;
}

                .title__emoji {
                }
                .title__name {
                }

.content {
    margin-top: 20px;
    margin-left: 0;
}




    .wrapper {
        display: flex;
        width: 100vw;               /** Ошибка была тут. Ширина выставляется не через VH а через VW - View Width... */
        height: 100vh;
        flex-wrap: nowrap;
    }
    /* ! 1. Разобраться с боковой менюшкой и её распределением при появлении вертикальной прокрутки. */
